<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <% if(!user){%> 
          <li><a href=/ class="nav-link px-2 link-dark">Home</a></li>
        <li><a href=/sign_up class="nav-link px-2 link-secondary">Sign Up!</a></li>
        <li><a href=/log-In class="nav-link px-2 link-dark">Log-In</a></li>
        <% }else{ %> 
          <li><a href=/ class="nav-link px-2 link-dark">Home</a></li>
        <li><a href=/log-out class="nav-link px-2 link-dark">Log-Out</a></li>
        <li><a href=/join-club class="nav-link px-2 link-dark">Join Club</a></li>
        <li><a href=/create-message class="nav-link px-2 link-dark">Create Message</a></li>
        <%}%> 

      </ul>

    </header>
  </div>


<main class="form-signin w-100 m-auto">
  <form style="max-width: 720px;margin-left: auto;margin-right: auto;" action="" method="POST">
    <h1 class="h3 mb-3 fw-normal">Post messages on the website, but remeber that only members can see the name of the author</h1>

    <div class="form-floating">
      <label for="floatingInputTitle">Title</label>
      <input value='<%= undefined===message?``:username.title %>' required name="title" placeholder="My day sucked..." type="text"  class="form-control" id="floatingInputTitle" >

    </div>
    <div class="form-floating">
      <label for="floatingInputContent">Content</label>
      <textarea value='<%= undefined===message?``:username.message %>' required  name="content" placeholder="For start, I woke up late" type="text"  class="form-control" id="floatingInputContent" ></textarea>

    </div>
  

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
  </form>
</main>
       
        <%errors.map(error=>{ %> 
          <li> <%= error.msg %> </li>
          <% })%> 

</body>
</html>