<!DOCTYPE html>
<html>
  <head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <nav>
      <ul>
          <li> <a href=/sign_up>Sign Up!</a></li>
          <li><a href=/log-In>Log-In</a></li>
          <li><a href=/log-In>Account </a></li>
<% user %> 

      </ul>
  </nav>
  </body>
</html>
