<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" />
</head>
<body>
  <nav>
    <ul class='nav-list' >
    <% if(!user){%> 
      <li class='nav-element'> <a href=/sign_up>Sign Up!</a></li>
      <li class='nav-element'><a href=/log-In>Log-In</a></li> 
        <% }else{ %> 
          <li class='nav-element'><a href=/log-out>Log-Out</a></li>
          <li class='nav-element'><a href=/join-club>Join Club</a></li>
          <li class='nav-element'><a href=/create-message>Create Message</a></li>

          <%}%> 
</ul>
</nav>

<header class='speaker-form-header'>
  <h1>Create A Message</h1>
  <p><em>Post messages on the website, but remeber that only members </em></p>

</header>
<form  class='speaker-form' action="" method="POST">
    <div class='form-row'>
      <label for="first_name">Title</label>
      <input value='<%= undefined===message?``:username.title %>' required name="title" placeholder="My day sucked..." type="text"  />
    </div>
    <div class='form-row'>
        <label for="content">Content</label>
        <textarea  value='<%= undefined===message?``:username.message %>' required  name="content" placeholder="For start, I woke up late" type="text" /> 
        </textarea>
      </div>
    <div class='form-row'>
    <button type=submit>Submit</button>
    </div>
  </form>
       
        <%errors.map(error=>{ %> 
          <li> <%= error.msg %> </li>
          <% })%> 

</body>
</html>