<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
  <nav>
    <ul>
    <% if(!user){%> 
      <li> <a href=/sign_up>Sign Up!</a></li>
      <li><a href=/log-In>Log-In</a></li> 
        <% }else{ %> 
          <li><a href=/log-out>Log-Out</a></li>
          <%}%> 
</ul>
</nav>
        <form action="" method="POST">
          <label for="username">Username</label>
          <input value='<%= undefined===username?``:username.username %>' required   name="username" placeholder="username" type="text" />
          <label for="password">Password</label>
          <input required  name="password" type="password" />
          <button type=submit>Sign In</button>
        </form>
        <%errors.map(error=>{ %> 
          <li> <%= error.msg %> </li>
          <% })%> 

</body>
</html>